<div class="modal fade" id="signup_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&#x2715;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body centered_text">
        <a href="#" data-toggle="modal" data-target="#signup_withemail_modal" data-dismiss="modal" class="btn btn-default"><span class="fa fa-user"></span> Email Sign Up</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <br></br>
        <p>Already have an account? <a href="#" data-toggle="modal" data-target="#login_modal" data-dismiss="modal">Login</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>